<div class="main-card shadow-sm">
  <div width="100%" height="225">


    <% if post.post_image.attached? %>
      <%= cl_image_tag post.post_image.key,
        :width => 300,
        :height => 225,
        :gravity => "center",
        :class => "img_petcard",
        crop: :fill %>
      </div>
    <div class="card-index">
      <div>
        <h6><strong><%= link_to post.title, post %></strong></h6>
        <h6>Distance from user</h6>
      </div>
      <div class="btn-set">
        <button type="button" class="btn btn-light btn-outline-secondary">Like</button>
        <button type="button" class="btn btn-light btn-outline-secondary">Comment</button>
        <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
      </div>
    <% end %>
  </div>
</div>
