<body>

<main>
  <div class="">
  </div>
  <div class="album py-5">
    <div class="grid mt-5">
      <% @posts.each do |post| %>
        <%= render "postcard", post: post %>
      <% end %>
    </div>
  </div>

</main>

  </body>
</html>
