.btn-circle.btn-sm {
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 20px;
    font-size: 14px;
    text-align: center;
    transition-duration: 0.3s;
    transition: transform 0.3s ease-in-out;
}
.btn-circle.btn-md {
    width: 60px;
    height: 60px;
    padding: 7px 10px;
    border-radius: 30px;
    font-size: 18px;
    text-align: center;
    transition-duration: 0.3s;
    transition: transform 0.3s ease-in-out;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 22px;
    text-align: center;
    transition-duration: 0.3s;
    transition: transform 0.3s ease-in-out;
}
.btn-circle:hover {
    color: #fff;
    background-color: #f703ff;
    border-color: #000;
}

.icon-detail {
    font-size: 20px;
    color: #5ec26a;
}
.icon-detail:hover {
    font-size: 20px;
    color: #ff00b7;
}
