.lewagon {
  display: flex;
  // position: fixed;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  background: rgb(93, 0, 136);
  z-index: 1000;
  grid-area: sidebar;

  .fixed_nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 20px;	
    // z-index: 1000;
  }
}

.navbar-brand img {
  width: 40px;
}
